@model CRUD_Repository.Core.Product

@{
    ViewData["Title"] = Model != null && Model.ProductID == 0 ? "Add Product" : "Edit Product";
}

<form method="post" action="CreateOrEdit">
<div class="card">
    <div class="card-header align-content-center bg-info">
            <h2 class="text-center"> @ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <input type="hidden" asp-for="ProductID" />
        <div class="form-floating mb-2">
            <input asp-for="ProductName" class="form-control"/>
            <label asp-for="ProductName"></label>
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Price" class="form-control" />
            <label asp-for="Price"></label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Qty" class="form-control" />
            <label asp-for="Qty"></label>
            <span asp-validation-for="Qty" class="text-danger"></span>
        </div>
       <div>
                @if(Model != null && Model.ProductID == 0)
                {
                    <div class="col-lg-12 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 d-grid">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                }
       </div>
    </div>
</div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}